@model Clinvet.Models.FornecedorProdutoServico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FornecedorProdutoServico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor.NomeFantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor.NomeFantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdutoServico.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoServico.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFornecedorProduto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
