@model Clinvet.Models.Vacina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vacina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Custo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Custo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdFichaAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFichaAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTiposDeVacina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTiposDeVacina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
